@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body
{
	background: #000;
	/* font-family: 'Caveat', cursive; */
	font-family: 'Montserrat', sans-serif;
}
.main-page
{
	background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.3)), url(3.jpg);
	/* background: url(1.jpeg); */
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container
{
	max-width: 1300px;
	padding: 0px 15px;
	margin: 0 auto;
}
h1{
	/* -webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: bold; */
	font-size: 9em;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
	margin-bottom: 1em;
	/* background-image: linear-gradient(to right, #f093fb 0%, #f5576c 100%); */
	padding-top: 40px;
	color: #fff;
	font-size: 5em;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-shadow: 0 0 10px #00b3ff,
							0 0 20px #00b3ff,
							0 0 40px #00b3ff,
							0 0 80px #00b3ff,
							0 0 120px #00b3ff;
}

h2{
	font-size: 3em;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.1em;
	line-height: 1.5;
	text-shadow: 0 0 10px #00b3ff,
							0 0 20px #00b3ff,
							0 0 40px #00b3ff,
							0 0 80px #00b3ff,
							0 0 120px #00b3ff;
	text-align: center;
	margin-bottom: 3em;
	text-transform: uppercase;
}
h3{
	font-size: 4em;
	color: #fff;
	text-align: center;
	margin-bottom: 1.5em;
}

h4{
	font-size: 3em;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0 0 10px #00b3ff,
	0 0 20px #00b3ff,
	0 0 40px #00b3ff,
	0 0 80px #00b3ff,
	0 0 120px #00b3ff,
	0 0 200px #00b3ff,
	0 0 300px #00b3ff,
	0 0 400px #00b3ff;
}
h5{
	text-align: center;
	font-size: 3em;
	color: #fff;
	text-transform: uppercase;
}
h6{
	text-align: center;
	color: #fff;
	font-size: 1.5em;
}
@media screen and (max-width: 475px){
	.main-page{
		background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.3)), url(1.jpeg);
		background-position: center;
	background-size: cover;
	}
	h1{
		font-size: 3em;
		padding-top: 4em;
		background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
	}
	h2{
		font-size: 1.5em;
	}
}

